<!DOCTYPE html>
<html>
<head>
  <title>Shadowsocks Accounting System - VPSGroups Inc</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<h1>Shadowsocks Accounting System (SAS.0.01)</h1>

<body class='<%= controller.controller_name %>'>
<%= yield %>
<p>
  <a href="http://client.vpsgroups.biz">Powered By VPSGroups Inc</a></h4>
</p>
</body>
</html>